html{
    scroll-behavior: smooth;
    scroll-padding-top: 62px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    /*background-color: #DEEDF0; */
    background-color: #FFF5EB;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.navbar{
    background-color: #F4C7AB;
}

.conti{
    width: min(90%, 1220px);
    margin-inline: auto;
}

.contif{
    width: min(95%, 1220px);
    margin-inline: auto;
    margin-top: 20px;
}

.ponti{
    margin-top: 20px;
}

.contih{
    width: 100%;
    height: fit-content;
    margin: auto;
    position: relative;
    z-index: 1;
    top: 0;
    background-color: #F4C7AB;
}

.nav-link{
    color: #202426;
    font-weight:bold;
}

.nav-link:hover{
    color: #202426;
    opacity: 50%;
}

.nav-link:active{
    color: grey;
}

.carousel-item {
    text-align: center;
}

.picturecon{
    display: grid;
    grid-auto-rows: minmax(200px, auto);

}

.gallery{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    text-align: center;
    margin-top: 20px;
}
.gallery img{
    width: 100%;
    height:auto;
    transition: 0.3s;
    margin-top: 0px;  
    text-align: center;
    border-radius: 3%;
}
.gallery img:hover{
    filter: grayscale(40%);
    transform: scale(1.01);
}

.podpis{
    clear: both; 
    text-align: center;
    font-size: 14px;
    padding: 5px 5px 15px 5px;
}

.dojazd{
    text-align: justify;
}

.obraz{
    float: left;
    width: 100%;
    border-radius: 4%;
}

.mapa{
    width: 100%;
    text-align: center;
    float:left;
}

.calosc{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content{
    max-width: 920px;
    padding: 0 10px;
}

@media only screen and (min-width: 768px)
/*@media (min-width: 768px) */{
    .obraz{
        width: 370px;
    }

    .gallery img{
        width: 295px;
    }

    .mapa{
        width: 50%;
    }
}
@media only screen and (max-width: 767px)
/*@media (max-width: 767px) */{

  /*  body{
        font-size: x-large;
    } */

    .gallery img{
        width: 100%;
    }

}

.box-darowizna{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;

}

a{
    color: #B2B8A3;
    text-decoration: none;
}

a:hover{
    color: pink;
}

.spistresci{
    width: min(max-content, 100%);
    max-width: 920px;
    height: max-content;
    float: left;
    /*border: thin silver solid;*/
    background-color: white;
    margin: 0 1em 1em 0;
    padding: 0.5em;
    border-color: #6A9C89;
    border-radius: 5%;
}


@media(min-width:1400px){
    .spistresci{
        max-width: 284px ;
    }
}

@media(max-width:767px){
    .spistresci{
        width: 100% ;
    }
}

.scrollup
{
	width: 50px;
	height: 50px;
    border-radius: 10%;
    line-height: 20px;
	text-decoration: none;
/*	background: url("img/up.png") no-repeat 0px 0px; 
    background-color: #FFF5EB; ciemniejszy - #F4C7AB*/
	position: fixed;
	right: 50px;
	bottom: 50px;
}

.fragment{
    padding-top: 10px;
}

.wstep{
    width: fit-content;
    background-color: white;
    border-radius: 5%;
    margin: 10px auto;
    padding: 20px;
}

hr{
    width: min(90%, 1220px);
    margin: 20px auto;
    color: grey;
}


/* ten kod zmienia karuzele na pierwszej stronie  
p{
    text-align: justify;
    margin-bottom: 0;
}

h1, h2, h3, h4{
    color: #3A4D39;
}

*/
